.history-section {
    width: 80%;
    margin: 0 auto;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 2px solid #343A40;
        letter-spacing: 1px;
        background-color: #343a40;

        td,
        th {
            border-bottom: 1px solid #454D55;
            padding: 10px 20px;
            text-align: left;
            font-size: 1.5rem;
        }

        td {
            font-size: 1.3rem;
        }

        caption {
            padding: 10px;
            font-size: 2rem;
            margin-bottom: 10px;
        }

    }
}
