 @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

 * {
     margin: 0;
     padding: 0;
     outline: 0;
 }

 .container {
     position: relative;
     padding: 6px;
     width: 300px;
     border-radius: 8px;
     margin: 0 auto;
     background-color: rgb(40, 48, 37);
     text-align: center;
     font-family: 'Nunito', sans-serif;
 }

 .wrapper {
     position: relative;
 }

 .container img {
     width: 70%;

 }

 .container h5 {
     color: rgb(228, 180, 46);
     font-weight: bold;
     font-size: 2rem;
     margin: 12px 0 12px 0;
 }

 .buttons {
     display: inline-block;
     width: 100%;
     padding: 0;
     margin: 0;
     text-align: center;
 }

 .buttons button {
     position: relative;
     width: 40px;
     height: 40px;
     padding: 16px;
     border-radius: 90px;
     background-color: #E1E6EC;
     text-align: left;
     margin: 10px 9px;
     border: none;
     /*background:linear-gradient(-45deg,#a2b1c6,#fff);*/
 }

 .buttons button:active {
     background: #E1E6EC;
 }

 .buttons button img {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 42%;
     height: 32%;
 }

 .level {
     width: 85%;
     -webkit-appearance: none;
     appearance: none;
     background: #E1E6EC;
     border-radius: 50px;
     margin: 12px 0;
 }

 .level::-webkit-slider-thumb,
 .level::-moz-range-thumb {
     -webkit-appearance: none;
     background-color: #A2B1C6;
     width: 15px;
     height: 15px;
     border-radius: 90px;
 }

 @media screen and (max-width: 600px) {
     .container {
         margin-top: 20px;
         width: 250px;
     }

     .buttons button {
         width: 30px;
         height: 30px;
     }

     .level::-webkit-slider-thumb,
     .level::-moz-range-thumb {
         width: 10px;
         height: 10px;
     }

     input#range.level {
         height: 10px;
     }
 }
